{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">Cart</h4>
<hr>
    <table class="table table-bordered mx-auto">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        <thead>
        <tbody>
        {% for game, price in games_and_prices %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ price }}€</td>
            </tr>
        {% endfor %}
        </tbody>
        {% if not empty_flag%}
        <form action="{% url 'confirm' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="checksum"
                value= "{{ checksum }}" />
            
            <label for="id_amount">Amount:</label>
            <input class="btn btn-outline-light" type="submit" value="Proceed to payment"/>
        </form>
        {{ total }}
        {% endif %}
    </table>
{% endblock %}
