{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">Confirm payment</h4>
<hr>
    <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
        <input type="hidden" name="pid" value="{{ cart_id }}" />
        <input type="hidden" name="sid" value="wsd18store" />
        <input type="hidden" name="success_url"
                value="{{ PAYMENT_SUCCESS_URL }}" />
        <input type="hidden" name="cancel_url"
                value="{{ PAYMENT_CANCEL_URL }}" />
        <input type="hidden" name="error_url"
                value="{{ PAYMENT_ERROR_URL }}" />
        <input type="hidden" name="checksum"
                value= "{{ checksum }}" />

        <label for="id_amount">Amount:</label>
        <input type="text" id="id_amount" name="amount" value="{{ total }}" readonly/>
        <input class="btn btn-outline-light" type="submit" value="Accept Payment"/>
    </form>
{% endblock %}
