{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">{{ game.name }}</h4>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {% load staticfiles %}
            <img class="img-fluid w-75" src="{% static 'default_game.jpg' %}" alt="game image" title="{{game.name}}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h6><b>Description</b></h6>
            <br>
            <p class="font-weight-light">{{ game.description }}</p>
        </div>
    </div>
<!--    <div class="row">
        <div class="col-sm-12">
            <p class="font-weight-light">{{ game.description }}</p>
        </div>
    </div>-->
</div>
{% endblock %}
