{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">{{ game.name }}</h4>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {% load staticfiles %}
            <img class="img-fluid w-75" src="{% static 'default_game.jpg' %}" alt="game image" title="{{game.name}}" style="margin-bottom:25px;">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 style="margin-bottom: 15px;"><b>Description</b></h6>
            <p class="font-weight-light">{{ game.description }}</p>
        </div>
    </div>
</div>

<h6><b>Top Ten Highscores</b></h6>
    <table class="table table-bordered mx-auto">
        <thead style="background-image: radial-gradient(rgb(51, 51, 51), rgb(77, 77, 77)); color: white;"
            <tr>
                <th scope="col">Player Name</th>
                <th scope="col">Highscore</th>
            </tr>
        </thead>
        <tbody>
        {% for scores in tophighscores%}
            <tr style="background-image: radial-gradient(rgb(100, 100, 100), rgb(135, 135, 135)); color: white;">
                <td scope="col">{{ scores.player.username }}</td>
                <td scope="col">{{ scores.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
