{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">Highscores</h4>
<hr>
<div class="container" style="margin-bottom:20px;">
    <form method="GET">
       {% csrf_token %}
        <input type="hidden" name="messagetype" value="search">
       <input type="text" name="game">
       <input class="btn btn-outline-light btn-sm" type="submit" name=submit value="Search">
    </form>
</div>
{% if flag == 1 %}
    <div class="container">
        <p>Game With That Name Not Found</p>
    </div>
{% endif %}

    {% if game %}
    <h5>Highscores for {{ game.name }}</h5>
    {% endif %}
    <table class="table table-bordered mx-auto m-3">
        <thead style="background-image: radial-gradient(rgb(51, 51, 51), rgb(77, 77, 77)); color: white;">
            <tr>
                <th scope="col">Player Name</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
        {% for score in highscores %}
            <tr style="background-image: radial-gradient(rgb(100, 100, 100), rgb(135, 135, 135)); color: white;">
                <td scope="col"> {{ score.player.username }}</td>
                <td scope="col">{{ score.score }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
