{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">Highscores</h4>
<hr>

    <h5>Overall Highscores</h5>
    <table class="table table-bordered mx-auto m-3">
        <thead style="background-image: radial-gradient(rgb(51, 51, 51), rgb(77, 77, 77)); color: white;">
            <tr>
                <th scope="col">Game Name</th>
                <th scope="col">Player Name</th>
                <th scope="col">Highscore</th>
            </tr>
        </thead>
        <tbody>
        {% for onescore in bestscores %}
            <tr style="background-image: radial-gradient(rgb(100, 100, 100), rgb(135, 135, 135)); color: white;">
                <td scope="col">{{ onescore.game_name }}</td>
                <td scope="col"> {{ onescore.player_name }}</td>
                <td scope="col">{{ onescore.max_score }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h5>My Highscores</h5>
    <table class="table table-bordered mx-auto m-3">
        <thead style="background-image: radial-gradient(rgb(51, 51, 51), rgb(77, 77, 77)); color: white;">
            <tr>
                <th scope="col">Game Name</th>
                <th scope="col">Highscore</th>
            </tr>
        </thead>
        <tbody>
        {% for scores in myhighscores %}
            <tr style="background-image: radial-gradient(rgb(100, 100, 100), rgb(135, 135, 135)); color: white;">
                <td scope="col">{{ scores.game.name }}</td>
                <td scope="col">{{ scores.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
