{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <h4 id="lib-header">Home</h4>
    <hr>
    <p>Welcome to the best gaming site in the world!</p>
    <p>------------------------------------------------------------------------</p>
    <p>------------------------------------------------------------------------</p>
    <p>------------------------------------------------------------------------</p>
    <p>------------------------------------------------------------------------</p>
{% else %}
    <p>You are not logged in</p>
{% endif %}
{% endblock %}
