{% extends 'base.html' %}
{% block content %}
    <div class="alert alert-dark alert-dismission fade show" role="alert">
        Click on the game you want to play!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h4 id="lib-header">My library</h4>
    <hr>
    <div class="container">
        <div class="row">
            {% for highscore in myhighscores %}
                {% for game in allgames %}
                    {% if game.id == highscore.game_id %}
                        <div class="col-lg-4 col-md-6 col-sm-12" id="store">
                            <div class="card bg-dark mx-auto" style="width: 16rem;">
                                <a type="button" class="btn btn-secondary btn-lg" href="{% url 'startgame' game.id %}" style="overflow:hidden;">
                                    {{ game.name|linebreaks }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
{% endblock %}
