{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">Order history</h4>
<hr>
<h6>Order history for <b>{{ game.name }}</b></h6>
<table class="table table-bordered mx-auto">
    <thead style="background-image: radial-gradient(rgb(51, 51, 51), rgb(77, 77, 77)); color: white;">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
    {% for date, price in dates_and_prices %}
        <tr style="background-image: radial-gradient(rgb(100, 100, 100), rgb(135, 135, 135)); color: white;">
            <td>{{ date }}</td>
            <td>{{ price }}€</td>
        </tr>
    {% endfor %}
{% endblock %}
