{% extends 'base.html' %}
{% block title %}Profile page{% endblock %}
{% block content %}
<div class="card w-75 mx-auto" style="color: black; margin-top: 3%">
    <div class="container w-100" style="padding:0;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12" id="profile">
                {% load staticfiles %}
                <img src="{% static 'default.png' %}" alt="profile picture" class="img-fluid rounded float-left" height="200" width="200">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 align-self-center" id="profile">
                <p style="font-size: 1.5rem;"><strong>{{ user.username }}</strong></p>
                <p style="font-size: 1rem;">{{ user.email }}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 align-self-center" id="profile">
                <p class="font-weight-light" style="font-size: 1rem; margin-right: 10%; margin-left:10%">{{ user.profile.bio }}</p>
            </div>
        </div>
        <hr>
        <p style="margin: 0;">
            <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseUpdate" role="button" aria-expand="false" aria-controls="collapseUpdate">Update info</a>
        </p>
        <div class="collapse row" id="collapseUpdate">
            <div class="col-12">
                <p style="font-size:2rem;">Update info</p>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ u_form.as_p }}
                    {{ p_form.as_p }}
                    <button class="btn btn-outline-dark" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
