{% extends 'base.html' %}
{% block content %}
<h4 id="lib-header">Sign up</h4>
<hr>
<div class="card w-75 mx-auto" style=" color: black;">
    <div class="card-body">
        <div class="signup">
            <h3 class="card-title font-weight-light">Sign up</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
